{% extends 'base.html' %}

{% block body %}
		<div class="navbar"> <!-- Navbar with hover element -->
			<table border= "1" bordercolor="white"> 
			<tbody>
			 <th><a href="/home"><font face = "verdana" size = "3">Home</font></a></th>
			 <th><a href="#"><font face = "verdana" size = "3">About Me</font></a></th>
			 <th><a href="/comp_tech"><font face = "verdana" size = "3">Computing Tech</font></a></th>
			 <th><a href="/portfolio"><font face = "verdana" size = "3">Portfolio<font></a></th>
			 <th><a href="/cv"><font face = "verdana" size = "3">CV<font></a></th>
			 <th><a href="/contact"><font face = "verdana" size = "3">Contact<font></a></th>
			 </tbody> 
			 </table>
		</div>

		<div class="header"> 
			<h2 style="color:white; font-family:Verdana;">About Me</h2>
		</div>

		<div class="abouttext"> 
			 <font color ="white" style="Verdana">
			  I am a student at IT Carlow.  <br>
			  My hobbies are: collecting vinyl, reading books, photography, art, and games.
			  Favourite snacks are peach jellies and blueberry chocolate.<br>
			  Big advocate of the Oxford comma.</font>
		</div>  

			<div class="emailfooter"> <!-- Footer with email -->
				<font color="white" size="1" align="center"> Email: c00242687@itcarlow.ie</font></font></pre></p>
			</div>
{% endblock %}