{% extends 'base.html' %}

{% block body %}
		<link rel="stylesheet" href="../static/stylesheetcss.css"/>

		<div class="navbar"> <!-- Navbar with hover element -->
			<table border= "1" bordercolor="white"> <!-- validation checker says this border tag is an error...but it works??? -->
			<tbody>
			 <th><a href="/home"><font face = "verdana" size = "3">Home</font></a></th>
			 <th><a href="/aboutme"><font face = "verdana" size = "3">About Me</font></a></th>
			 <th><a href="/comp_tech"><font face = "verdana" size = "3">Computing Tech</font></a></th>
			 <th><a href="/portfolio"><font face = "verdana" size = "3">Portfolio<font></a></th>
			 <th><a href="/cv"><font face = "verdana" size = "3">CV<font></a></th>
			 <th><a href="/contact"><font face = "verdana" size = "3">Contact<font></a></th>
			 </tbody> 
			 </table>
		</div>

		<ul class="tech_list">
			<li>
				<a href="/comp_tech/tech1">Logic Gates</a>
			</li>
			<li>
				<a href="#">Deep Fakes</a>
			</li>
			<li>
				<a href="/comp_tech/tech3">Quantum Computing</a>
			</li>
		</ul>

	<div class="header"> 
			<h2 style="color:white; font-family:Verdana;">Deep Fakes</h2>
		</div>

		<div class="abouttext"> 
			<font face="Verdana" color="white"> 
				Deep fakes use a form of artificial intelligence called deep learning which substitutes 
				a person's likeness with another. Deep fakes are not only utilised in a video format, but
				also can be used to generate voice cloning. To create a deep fake video, you must first
				run thousands of images through an AI algorithm encoder. The encoder learns the features
				and compresses them into images for a decoder to then recover them. Two decoders are
				used for each face, and to achieve the deep fake, one feeds the encoded images into the
				wrong decoder. The faces are reconstructed from each orientation on every frame.
				<br>
				<a href="https://en.wikipedia.org/wiki/Deepfake" target="_blank"> Deep Fakes Wiki.</a>
			</font>	
		</div> 

			<div class="emailfooter"> <!-- Footer with email -->
				<font color="white" size="1" align="center"> Email: c00242687@itcarlow.ie</font></font></pre></p>
			</div>
{% endblock %}