{% extends 'base.html' %}

{% block body %}
		<link rel="stylesheet" href="../static/stylesheetcss.css"/>

		<div class="navbar"> <!-- Navbar with hover element -->
			<table border= "1" bordercolor="white"> <!-- validation checker says this border tag is an error...but it works??? -->
			<tbody>
			 <th><a href="/home"><font face = "verdana" size = "3">Home</font></a></th>
			 <th><a href="/aboutme"><font face = "verdana" size = "3">About Me</font></a></th>
			 <th><a href="/comp_tech"><font face = "verdana" size = "3">Computing Tech</font></a></th>
			 <!-- <th><a href="/photos"><font face = "verdana" size = "3">Photos<font></a></th> -->
			 <th><a href="/portfolio"><font face = "verdana" size = "3">Portfolio<font></a></th>
			 <th><a href="/cv"><font face = "verdana" size = "3">CV<font></a></th>
			 <th><a href="/contact"><font face = "verdana" size = "3">Contact<font></a></th>
			 </tbody> 
			 </table>
		</div>

		<ul class="tech_list">
			<li>
				<a href="/comp_tech/tech1">Tech 1</a>
			</li>
			<li>
				<a href="#">Tech 2</a>
			</li>
			<li>
				<a href="/comp_tech/tech3">Tech 3</a>
			</li>
		</ul>

	<div class="header"> 
			<h2 style="color:white; font-family:Verdana;">Evolved Logic Gates</h2>
		</div>

		<div class="abouttext"> 
			<font face="Verdana" color="white"> 
				This topic explores research undertaken by Dr. Adrian Thompson at the University of Sussex.
				Using a special microchip called a Field-Programmable Gate Array which allows its internal logic to be rewritten,
				Dr. Thompson gave the chip a task which was to differentiate between two audio tones using only 100 logic gates 
				and without a system clock. After 4000 generations, using Darwin's principle of natural selection in removing any 
				imperfect "offspring", the chip succesfully learned how to detect sound accurately. When trying to identify how 
				the chip worked, they found it only used 37 of its 100 logic gates in and functioned in a way no one understood. <br>
				<a href="https://www.damninteresting.com/on-the-origin-of-circuits/" target="_blank"> On the Origin of Circuits.</a>
			</font>	
		</div> 

			<div class="emailfooter"> <!-- Footer with email -->
				<font color="white" size="1" align="center"> Email: c00242687@itcarlow.ie</font></font></pre></p>
			</div>
{% endblock %}