{% extends 'base.html' %}

{% block body %}
		<link rel="stylesheet" href="../static/stylesheetcss.css"/>

		<div class="navbar"> <!-- Navbar with hover element -->
			<table border= "1" bordercolor="white"> 
			<tbody>
			 <th><a href="/home"><font face = "verdana" size = "3">Home</font></a></th>
			 <th><a href="/aboutme"><font face = "verdana" size = "3">About Me</font></a></th>
			 <th><a href="/comp_tech"><font face = "verdana" size = "3">Computing Tech</font></a></th>
			 <th><a href="/portfolio"><font face = "verdana" size = "3">Portfolio<font></a></th>
			 <th><a href="/cv"><font face = "verdana" size = "3">CV<font></a></th>
			 <th><a href="/contact"><font face = "verdana" size = "3">Contact<font></a></th>
			 </tbody> 
			 </table>
		</div>

		<ul class="tech_list">
			<li>
				<a href="/comp_tech/tech1">Logic Gates</a>
			</li>
			<li>
				<a href="/comp_tech/tech2">Deep Fakes</a>
			</li>
			<li>
				<a href="#">Quantum Computing</a>
			</li>
		</ul>

	<div class="header"> 
			<h2 style="color:white; font-family:Verdana;">Quantum Computing</h2>
		</div>

		<div class="abouttext"> 
			<font face="Verdana" color="white"> 
				Quantum computing uses the physics of subatomic particles to perform calculations and simulations
				too complex for a standard computer to process. Quantum computers are not limited to binary bits,
				but instead utilise quantum bits that can represent a one, zero, or both. These computers approach
				problems simultaneously, rather than sequentially. This vastly increses the computational speed of these computers.<br>
				<a href="https://en.wikipedia.org/wiki/Quantum_computing" target=_blank> Quantum Computing Wiki</a>
			</font>	
		</div> 

			<div class="emailfooter"> <!-- Footer with email -->
				<font color="white" size="1" align="center"> Email: c00242687@itcarlow.ie</font></font></pre></p>
			</div>
{% endblock %}